@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Raleway:wght@400;900&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100dvw;
	width: 100vw;
}

.gg-menu-hotdog {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs, 1));
	width: 16px;
	height: 12px;
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-radius: 3px;
}
.gg-menu-hotdog::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 20px;
	height: 2px;
	background: currentColor;
	border-radius: 4px;
	top: 2px;
	left: -2px;
}
